{% extends "layout.html" %}

{% block body %}

    <table border="1" class = "myTable">

        <caption>База aвто</caption>

{#        ФИЛЬТР ТАБЛИЦЫ#}

{#        ШАПКА ТАБЛИЦЫ#}
        <tr>
           {% for col in head %}
               <th> {{ col }}</th>
           {% endfor %}
        </tr>

{#        ТЕЛО ТАБЛИЦЫ#}
        {% for row in records %}
            <tr>
            {% for col in range(row|length) %}
                {% if col == 0 %}
                    <th> <input type="checkbox" name="name1" /> </th>
                {% else %}
                    <td> {{ row[col] }}</td>
                {% endif %}
            {% endfor %}
            </tr>
        {% endfor %}


    </table>



{% endblock %}